<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="USDKDemo.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="USDKDemo.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" /></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="lib" />
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IO.Ports" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="IDTechSDK" publicKeyToken="dbf9f7fd0c4c4b4a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.177.7" newVersion="1.2.177.7" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <applicationSettings>
    <USDKDemo.Properties.Settings>
      <setting name="NEOBoard_Demo_RKI_RKIService_RKIService" serializeAs="String">
        <value>http://demo.idtechweb.com:4002/RKI.asmx</value>
      </setting>
      <setting name="USDK_PKI_PKIService_CertService" serializeAs="String">
        <value>http://demo.idtechweb.com:4001/CertService.asmx</value>
      </setting>
      <setting name="USDK_PKI_AuthService_WebService" serializeAs="String">
        <value>http://demo.idtechweb.com:2001/Auth.asmx</value>
      </setting>
      <setting name="NEO_Tool_PKIService_CertService" serializeAs="String">
        <value>http://demo.idtechweb.com:4001/CertService.asmx</value>
      </setting>
      <setting name="NEO_Tool_AuthService_WebService" serializeAs="String">
        <value>http://demo.idtechweb.com:2001/Auth.asmx</value>
      </setting>
      <setting name="UniversalSDKDemo_AuthService_WebService" serializeAs="String">
        <value>http://demo.idtechweb.com:2001/Auth.asmx</value>
      </setting>
      <setting name="UniversalSDKDemo_PKIService_CertService" serializeAs="String">
        <value>http://demo.idtechweb.com:4001/CertService.asmx</value>
      </setting>
      <setting name="UniversalSDKDemo_RKIService_RKI" serializeAs="String">
        <value>http://demo.idtechweb.com:4002/RKI.asmx</value>
      </setting>
    </USDKDemo.Properties.Settings>
  </applicationSettings>
  <userSettings>
    <USDKDemo.Properties.Settings>
      <setting name="LogFilePath" serializeAs="String">
        <value />
      </setting>
      <setting name="custName" serializeAs="String">
        <value />
      </setting>
      <setting name="custPhone" serializeAs="String">
        <value />
      </setting>
      <setting name="custEmail" serializeAs="String">
        <value />
      </setting>
      <setting name="pae1" serializeAs="String">
        <value>*PAE</value>
      </setting>
      <setting name="pae2" serializeAs="String">
        <value>*PAE</value>
      </setting>
      <setting name="pae3" serializeAs="String">
        <value>*PAE</value>
      </setting>
      <setting name="pae4" serializeAs="String">
        <value>*PAE</value>
      </setting>
      <setting name="pae5" serializeAs="String">
        <value>*PAE</value>
      </setting>
      <setting name="pae6" serializeAs="String">
        <value>*PAE</value>
      </setting>
      <setting name="pae7" serializeAs="String">
        <value>*PAE</value>
      </setting>
      <setting name="pae8" serializeAs="String">
        <value>*PAE</value>
      </setting>
      <setting name="lastip" serializeAs="String">
        <value>10.12.34.41</value>
      </setting>
      <setting name="lastFW" serializeAs="String">
        <value />
      </setting>
      <setting name="lastTransfer" serializeAs="String">
        <value />
      </setting>
      <setting name="lastCAPK" serializeAs="String">
        <value />
      </setting>
      <setting name="lastSerial" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="lastBaud" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="s_addMemo" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="s_abortFirmware" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="s_memo" serializeAs="String">
        <value />
      </setting>
      <setting name="s_openLocation" serializeAs="String">
        <value />
      </setting>
      <setting name="s_saveLocation" serializeAs="String">
        <value />
      </setting>
    </USDKDemo.Properties.Settings>
  </userSettings>
</configuration>
